.content{
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.ct {
    width: 33%;
    padding: 10px 10px;
}

.ct-item {
    display: flex;
}

@media only screen and (max-width: 678px) {
    .content {
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }

    .ct {
        width: 100%;
    }
        
    
}